body {
   background-color: rgb(12, 12, 12);
   color: aliceblue;
   font-family: sans-serif;
}

#title {
   text-align: right;
   padding-right: 6%;
}

h1 {
   font-size: 350%;
   line-height: 50%;
}

h2 {
   font-size: 150%;
   line-height: 15%;
}