@font-face {
   font-family: renner;
   src: url(assets/fonts/Renner_\ 400\ Book.ttf);
 }

body {
   font-family: renner;
   background-color: rgb(7, 7, 7);
   color: rgb(248, 248, 248);
   margin: 0;
   padding: 0;
   overflow: hidden;
}

a {
   color: rgb(248, 248, 248);
}

.page {
   width: 100vw;
   height: 100vh;
}

.main {
   position: fixed;
   bottom: 0;
   animation: move-in 1s;
}

.hiding {
   position: absolute;
   bottom: 100%;
   animation: move-out 1s;
   -webkit-animation: 1s move-out;
}

.hidden {
   position: absolute;
   bottom: 100%;
}

@keyframes move-out {
   0% {
      bottom: 0;
   }
   100% {
      bottom: -100%;
   }
}

@-webkit-keyframes move-out {
   0% {
      bottom: 0;
   }
   100% {
      bottom: -100%;
   }
}

@keyframes move-in {
   0% {
      bottom: 100%;
   }
   100% {
      bottom: 0%;
   }
}

@-webkit-keyframes move-in {
   0% {
      bottom: 100%;
   }
   100% {
      bottom: 0%;
   }
}