* {
    margin: auto;
    padding: none;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 2.6vh;
}

p {
    font-size: 2vh;
    padding-right: 10%;
    padding-left: 10%;
}

.container-app {
    margin: none;
    padding: none;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background: rgb(232,203,192);
    background: -webkit-linear-gradient(to bottom right, rgba(232,203,192,1) 0%, rgba(99,111,164,1) 100%);
    background: linear-gradient(to bottom right, rgba(232,203,192,1) 0%, rgba(99,111,164,1) 100%);
}

.container-quiz {
    display: flex;
    width: 45vh;
    height: 45vh;
    position:absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    flex-flow: column;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19)
}

.quiz-header {
    display: flex;
    width: 100%;
    height: 30%;
    background: #f0f0f0;
    border-radius: 10px 10px 0px 0px;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.quiz-main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column;
    margin: auto;
}

.quiz-footer {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    background: #f0f0f0;
    border-radius: 0px 0px 10px 10px;
    transition: 1s;
}

.box-question {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.box-answers {
    height: 70%;
    width: 100%;
    background-color: #f0f0f0;
    transition: 1s;
}

.box-results {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 2s;
    color: rgba(255, 255, 255, 0);
}

.answer-button {
    outline: none;
    border: none;
    width: 100%;
    height: 25%;
    background-color: #e6e6e6;
    cursor: pointer;
    font-size: 1.6vh;
}

.answer-button:nth-child(even) {
    background-color: #dfdfdf;
}

.answer-button:hover {
    background-color: #c9c9c9;
    transition: 200ms;
}

.color-explorer {
    background-color: #93cf9d;
}

.color-conqueror {
    background-color: #f88379;
}

.color-visionary {
    background-color: #3F587F;
}

.gradient-explorer {
    background: #a1ffce93;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #faffd193, #A1FFCE93);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #FAFFD193, #A1FFCE93); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 1 !important;
}

.gradient-conqueror {
    background: #f0505393;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #e1eec393, #f0505393);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #e1eec393, #f0505393); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 1 !important;
}

.gradient-visionary {
    background: #6190E893;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #A7BFE893, #6190E893);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #A7BFE893, #6190E893); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 1 !important;
}

.white-text {
    color: white;
}

.house-icon {
    width: 25%;
    padding-top: 7%;
    text-align: center;
}

.container-house-gradient {
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 3s;
}