@font-face {
   font-family: renner;
   src: url(../fonts/Renner.ttf);
 }

body {
   font-family: renner;
   background-color: #202040;
   color: rgb(248, 248, 248);
   margin: 0;
   padding: 0;
   overflow: hidden;
}

a {
   color: rgb(248, 248, 248);
}

h1 {
   line-height: 5%;
   font-size: 10vmin;
}

h2 {
   line-height: 50%;
   font-size: 3vmin;
   font-weight: lighter;
}

#main-page {
   text-align: center;
   transition: 1s;
   padding-top: 35vh;
}

#icon_ku {
   position: absolute;
   transform: translate(-50%, -135%);
   width: 16vmin;
   z-index: -1;
}

#about-container {
   padding-top: 24vh;
}

#flex-box {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

#flex-element {
   width: 9.6vmin;
   padding-top: 1%;
   text-align: center;
   color: rgb(248, 248, 248);
   text-decoration: none;
   background: none;
   border: 0;
   margin: 0;

   outline: 0;
   font-family: renner;
   font-size: 2.15vmin;

   opacity: 1;
   animation: fade 1s linear;
   
}

#flex-element:hover {
   text-decoration: underline;
}

#title {
   text-align: center;
   padding-top: 3vh;
}

#about-me {
   font-size: 2.15vh;
   position: relative;
   width: 40vw;
   text-align: center;
   left: 30vw;
}

#games-container {
   display: flex;
}

#game {
   width: 200px;
   height: 150px;
   overflow: hidden;
}

#game img {
   width: 400px;
   height: 300px;
   margin: -75px 0 0 -100px;
}

@keyframes fade {
   0% { opacity: 0; }
   25% { opacity: 0; }
   100% { opacity: 1; }
}

button:hover {
   color: rgb(128, 128, 128);
}


.page {
   width: 100vw;
   height: 100vh;
}

.main {
   position: fixed;
   bottom: 0;
   animation: move-in 1s;
}

.hiding {
   position: absolute;
   bottom: 100vh;
   animation: move-out 1s;
   -webkit-animation: 1s move-out;
}

.hidden {
   position: absolute;
   bottom: 100vh;
}

@keyframes move-out {
   0% {
      bottom: 0vh;
   }
   100% {
      bottom: -100vh;
   }
}

@-webkit-keyframes move-out {
   0% {
      bottom: 0vh;
   }
   100% {
      bottom: -100vh;
   }
}

@keyframes move-in {
   0% {
      bottom: 100vh;
   }
   100% {
      bottom: 0vh;
   }
}

@-webkit-keyframes move-in {
   0% {
      bottom: 100vh;
   }
   100% {
      bottom: 0vh;
   }
}
