@font-face { 
   font-family: renner;
   src: url(/assets/fonts/Renner.ttf);
}

* {
   font-family: 'Josefin Sans', renner, sans-serif;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

body {
   transition: background-color 500ms ease, color 500ms ease;
   -webkit-transition: background-color 500ms ease, color 500ms ease;
   -moz-transition: background-color 500ms ease, color 500ms ease;
   -o-transition: background-color 500ms ease, color 500ms ease;
}

#title-text {
   font-size: 10vmin;
   margin: 0;
   font-weight: bold;
}

h2 {
   font-size: 5vmin;
   font-weight: bold;
}

#icon_ku {
   position: absolute;
   transform: translate(-50%, -115%);
   width: 16vmin;
   height: auto;
   z-index: -1;
}

#categories {
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   justify-content: center;
   cursor: context-menu;
}

#category-element {
   padding: 8px;
   text-align: center;
   text-decoration: none;
   background: none;
   border: 0;
   margin: 0;

   outline: 0;
   font-family: renner;
   font-size: 2.15vh;

   opacity: 1;
   animation: fade 1s linear;

   cursor: pointer;
}

#category-element:hover {
   text-decoration: underline;
}

#title {
   text-align: center;
   margin: none;
}

#about-me {
   font-size: 2.15vh;
   padding: 16px;
   position: relative;
   min-width: 200px;
   max-width: 600px;
   text-align: center;
}

#links-container {
   margin-top: 4%;
   margin-bottom: 4%;
}

#links-container a img {
   max-width: 40px;
   min-width: 20px;
   transition: 200ms opacity;
}

#links-container a img:hover {
   opacity: 0.5;
}

#games-container {
   display: -webkit-flex;
   display: flex;
}

#game {
   width: 200px;
   height: 150px;
   overflow: hidden;
}

#game img {
   width: 400px;
   height: 300px;
   margin: -75px 0 0 -100px;
}

@keyframes fade {
   0% { opacity: 0; }
   25% { opacity: 0; }
   100% { opacity: 1; }
}

button:hover {
   color: rgb(128, 128, 128);
}


.page {
   width: 100vw;
   height: 100vh;
   display: -webkit-flex;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.main {
   position: fixed;
   animation: move-in 1s;
   animation-fill-mode: both;
}

.hiding {
   position: absolute;
   animation: move-out 1s;
   animation-fill-mode: both;
}

.hidden {
   position: absolute;
   top: 100vh;
}

@keyframes move-out {
   0% {
      transform: translateY(0vh);
      -webkit-transform: translateY(0vh);
      -moz-transform: translateY(0vh);
   }
   100% {
      transform: translateY(-100vh);
      -webkit-transform: translateY(-100vh);
      -moz-transform: translateY(-100vh);
   }
}

@keyframes move-in {
   0% {
      transform: translateY(100vh);
      -webkit-transform: translateY(100vh);
      -moz-transform: translateY(100vh);
   }
   100% {
      transform: translateY(0vh);
      -webkit-transform: translateY(0vh);
      -moz-transform: translateY(0vh);
   }
}

#darkmode-toggle-container {
   position: absolute;
   padding: 1%;
   z-index: 1;
   bottom: 0;
   right: 0;
}

#darkmode-toggle {
   background-color: rgb(63, 63, 63);
   font-size: 1.5vh;
   border: 4px #6d6d6d;
   padding: 6px 8px;
   border-radius: 500px;
   color: white;
   transition: 250ms background-color;
   -webkit-transition: 250ms background-color;
   -moz-transition: 250ms background-color;
   -o-transition: 250ms background-color;
}

#darkmode-toggle:hover {
   background-color: rgb(104, 104, 104);
}

#grid-container {
   padding: 16px;
   display: grid;
   min-width: 15vw;
   max-width: 1000px;
   grid-gap: 15px;
   max-height: 60vh;
   grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
   grid-template-columns: 1fr 1fr 1fr;
   grid-column: span 2;
   object-fit: contain;
}

.grid {
   width: 100%;
   height: 100%;
   display: -webkit-flex;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   border-radius: 17px;
   cursor: pointer;
}

.grid img {
   flex-shrink: 0;
   filter: saturate(0.5);
   object-fit: cover;
   max-height: 100%;
   min-height: 100%;
   min-width: 100%;
   transition: 350ms all;
   -webkit-transition: 350ms all;
   -moz-transition: 350ms all;
   -o-transition: 350ms all;
}

.grid:hover img {
   filter: saturate(1);
   min-height: 106%;
   min-width: 106%;
}

.grid .label {
   position: fixed;
   text-align: center;
   max-width: 20vmin;
   padding: 6px 8px;
   margin: 12px;
   background-color: rgba(35, 35, 35, 0.5);
   border-radius: 12px;
   transition: 350ms all;
   -webkit-transition: 350ms all;
   -moz-transition: 350ms all;
   -o-transition: 350ms all;
}

.grid:hover .label {
   background-color: rgba(35, 35, 35, 0.9);
}

.grid .label p {
   font-size: 2.5vmin;
   color: white;
   word-wrap: break-word;
}

.label-tagline {
   font-style: italic;
   font-size: 2vmin !important;
}

#video-player-container {
   margin-top: 4vmin;
   margin-bottom: 4vmin;
   position: relative;
   width: 80vmin;
   height: 45vmin;
}

#video-player {
   height: 100%;
   position: absolute;
   border: none;
   border-radius: 12px;
}

#video-player-tagline {
   font-style: italic;
}


