#main-page-container {
   text-align: center;
}

h1 {
   line-height: 5%;
   font-size: 400%;
}

h2 {
   line-height: 50%;
   font-size: 150%;
   font-weight: lighter;
}

#main-page {
   text-align: center;
   padding-top: 3%;
   transition: 1s;
}

#flex-box {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

#flex-element {
   width: 7%;
   padding-top: 1%;
   text-align: center;
   color: rgb(248, 248, 248);
   text-decoration: none;
   background: none;
   border: 0;
   margin: 0;

   outline: 0;
   font-family: renner;
   font-size: 100%;

   opacity: 1;
   animation: fade 1s linear;
   
}

@-webkit-keyframes fade {

}

@keyframes fade {
   0% { opacity: 0; }
   25% { opacity: 0; }
   100% { opacity: 1; }
}

#flex-element:hover {
   color: rgb(128, 128, 128);
}
